.App {
  text-align: center;
  background-color: powderblue;
  margin: 20px;
  border-radius: 10px;
}
.editorContainer .PageName {

  margin: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  color: rgb(7, 7, 49);
}
.editorContainer {
  /*border: 2.5px rgb(228, 13, 66) solid;
  justify-items: center;*/
  padding: 1px;
  margin: 5em;
  color:rgb(7, 7, 49);
}

.editorContainer > button {
  border-radius: 5px;
  border-width: 0;
  justify-content:space-around ;
  padding: 0;
  margin: 5px;
  height: 35px;
  width: 35px;
  font-size: 20px;
}
.editorContainer > button:hover{
  color: aliceblue;
  background-color: rgb(7, 7, 49);
  cursor: pointer;
}
.editors {
  /*position: relative;
  justify-self: center;*/
  border: 2.5px rgb(7, 7, 49) solid;
  padding: 1em;
  margin: 1em;
  font-family: 'Open Sans';
  font-size: 90%;
}
.editorContainer .save-file >button{
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  border-width: 0;
  cursor: pointer;
  height: 35px;
  width: 100px;
  font-size: 20px;
  color: aliceblue;
  background-color: rgb(7, 7, 49);
}
.editorContainer .save-file >button:hover{
  color: rgb(7, 7, 49);
  background-color: rgb(16, 240, 27); 
}