.App {
  text-align: center;
}

.editorContainer {
  padding: 1em;
  margin: 1em;
  color:rgb(7, 7, 49);
}

.editors {
  border: 2.5px rgb(7, 7, 49) solid;
  padding: 1em;
  margin: 1em;
  font-family: 'Open Sans';
  font-size: 90%;
}
